<Configuration>
    <Appenders>
        <File name="file-info" fileName="logs/info.log">
            <PatternLayout pattern="%d{HH:mm:ss dd.MM} [%M] %logger{2} - %msg %n" />
            <Filters>

                <!-- Now deny warn, error and fatal messages -->
                <ThresholdFilter level="warn"  onMatch="DENY"   onMismatch="NEUTRAL"/>

                <!-- This filter accepts info, warn, error, fatal and denies debug/trace -->
                <ThresholdFilter level="info"  onMatch="ACCEPT" onMismatch="DENY"/>
                
                <!-- This filter accepts info, warn, error, fatal and denies debug/trace -->
                <ThresholdFilter level="debug"  onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
        </File>


        <File name="file-debug" fileName="logs/debug.log">
            <PatternLayout pattern="%d{HH:mm:ss dd.MM} [%M] %logger{2} - %msg %n" />
            <Filters>

                <!-- Now deny warn, error and fatal messages -->
                <ThresholdFilter level="warn"  onMatch="DENY"   onMismatch="NEUTRAL"/>

                <!-- This filter accepts info, warn, error, fatal and denies debug/trace -->
                <ThresholdFilter level="info"  onMatch="DENY" onMismatch="NEUTRAL"/>
                
                <!-- This filter accepts info, warn, error, fatal and denies debug/trace -->
                <ThresholdFilter level="debug"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
        
        <File name="file-error" fileName="logs/error.log">
            <PatternLayout pattern="%d{HH:mm:ss dd.MM} [%M] %logger{2}  - %msg %n" />
            <Filters>

                <!-- Now deny warn, error and fatal messages -->
                <ThresholdFilter level="warn"  onMatch="ACCEPT"   onMismatch="DENY"/>
                <ThresholdFilter level="error"  onMatch="ACCEPT"   onMismatch="DENY"/>

                <!-- This filter accepts info, warn, error, fatal and denies debug/trace -->
                <ThresholdFilter level="info"  onMatch="DENY" onMismatch="NEUTRAL"/>
                
                <!-- This filter accepts info, warn, error, fatal and denies debug/trace -->
                <ThresholdFilter level="debug"  onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
        </File>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="file-error" level="error" />
            <AppenderRef ref="file-info" level="info"/>
            <AppenderRef ref="file-debug" level="debug" />
        </Root>
    </Loggers>
</Configuration>